/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.container-section{
    width: 75%;
    margin: 0 auto;
}

/* common */
/* margin in px */
.margin-bottom-30{
    margin-bottom: 30px;
}

/* riga */
.row{
    width: 100%;
    height: 100%;
}

 /* colonna */
.col-1{
    width: 10%;
}

.col-2{
    width: 20%;
}

.col-3{
    width: 30%;
}

.col-4{
    width: 40%;
}

.col-5{
    width: 50%;
}

.col-6{
    width: 60%;
}

.col-7{
    width: 70%;
}

/* align content */
.align-middle{
    vertical-align: middle;
}

/* buttons */
.btn,
.btn-link{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.btn-link{
    color: black;
}

.btn-primary{
    background-color: #0061ff;
}

.btn-secondary{
    background-color: white;
    color: black;
}

.btn-primary:hover{
    background-color: #3b85ff;
}

.btn-sm{
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.btn-medium{
    padding: 10px 17px;
    color: black;
    border: 1px solid black;
}

.btn-medium:hover,
.btn-secondary:hover{
    background-color: #f5f5f5;
}

.btn-xl{
    padding: 15px 20px;
}


/* float */
.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* position */
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* clearfix */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* menu di vavigazione */
.nav-item{
    display: inline-block;
}

.nav-link{
    text-decoration: none;
    color: black;
}

/* icone */
.ico{
    display: block;
}

.ico-list{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
}

.ico-arrow{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
}

.ico-arrow-up{
    display: inline-block;
    width: 10px;
    height: 7px;
    background-image: url(../img/icons/icone.png);
    background-size: auto 10500px;
    background-position: left -8657px;
    background-repeat: no-repeat;
}

.ico-check{
    display: inline-block;
    width: 13px;
    height: 9px;
    border-left: 1.5px solid #0061ff;
    border-bottom: 1.5px solid #0061ff;
    transform: rotate(-50deg);
    vertical-align: top;
}

/* freccia in giù */
.arrow-down{
    background-image: url(../img/icons/arrow-down.svg);
    background-size: cover;
    width: 27px;
    height: 40px;
}

/* headings */
.title-h2{
    font-size: 49px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 50px;
}

.title-h3{
    font-size: 41px;
    line-height: 38px;
}

.title-h4{
    font-size: 30px;
    line-height: 32px;
    font-weight: 500;
}

/* font-size in px */
.font-size-16{
    font-size: 16px;
}

.copy{
    line-height: 26px;
    font-size: 16px;
}

/* vertical align */
.vertical-align-top{
    vertical-align: top;
}


/* fake radios */
.fake-radio{
    width: 26px;
    height: 26px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}

.radio-active{
    border: 7px solid #0061ff;
}

/* lista non ordinata */
ul li{
    list-style-type: none;
}


/* griglie prezzi a tre colonne e una riga */
.row-grid-price .grid-contain{
    width: 100%;
    margin: 50px 0;
}

.row-grid-price .grid-contain .col-3{
    width: calc((100% / 3) - (120px / 3));
    border: 1px solid #d0d0d3;
}

.row-grid-price .grid-contain .col-3:nth-of-type(2){
    margin: 0 60px;
}

.row-grid-price .col{
    width: 100%;
    margin-top: 60px;
    border: 1px solid #d0d0d3;
}

.row-grid-price .title-card{
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 30px;
}

.row-grid-price .title-card img{
    transform: translateY(1px);
    margin-right: 8px;
}

.row-grid-price .content {
    width: 100%;
    padding: 30px;
}

.row-grid-price .content .margin-bottom-30{
    height: 120px;
}

.row-grid-price .content .price{
    margin: 10px 0;
}

.row-grid-price .content .copy{
    color: #637381;
    font-size: 14px;
    display: block;
}

.row-grid-price .content .caption{
    width: 90%;
    font-size: 15px;
    margin-left: 8px;
    display: inline-block;
}

.row-grid-price .content li{
    margin-bottom: 20px;
}

.row-grid-price .content .buy{
    margin-top: 50px;
}

.row-grid-price .content .buy .btn{
    width: 100%;
    text-align: center;
    display: block;
}

.row-grid-price .content .buy span{
    display: block;
    margin: 20px 0;
}

.row-grid-price .content hr{
    width: 40px;
    border: none;
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

.row-grid-price .content .salient-points .points{
    height: 260px;
    margin: 25px 0;
}

.row-grid-price .col .margin-bottom-30{
    position: relative;
    margin-bottom: 0;
}

.row-grid-price .col .content h3{
    margin: 20px 0;
}

.row-grid-price .col .content .btn{
    position: absolute;
    top: 0;
    right: 0;
}



/* header */
header{
    height: 80px;
    font-size: 16px;
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid lightgray;
}

header .row > .col{
    width: 15%;
    height: 100%;
}

#img-logo{
    line-height: 78px;
    margin-left: 20px;
}

#img-logo .arbor-logo__glyph {
    width: 32px;
    height: 32px;
}

#img-logo .arbor-logo__dropbox-wordmark{
    width: 97px;
    height: 32px;
}

header ul.nav li:hover,
header .col .btn-link:hover{
    border-bottom: 2px solid black;
}

header ul.nav {
    line-height: 78px;
}

header .nav-item{
    margin: 0 20px;
}

header .btn-group{
    line-height: 78px;
}

header .btn-group .btn-link{
    margin: 0 40px 0 20px;
}

/* jumbotron */
section.jumbotron{
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 130px;
}

section.jumbotron .row{
    max-width: 1440px;
}

section.jumbotron .content-title{
    margin: 0 60px 30px;
}

section.jumbotron .title-jumb{
    font-size: 73px;
    line-height: 108px;
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}

section.jumbotron .lead{
    width: 25%;
    margin-left: 60px;
    padding-bottom: 95px;
}

section.jumbotron .lead p{
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 26px;
}

section.jumbotron .lead .arbor-element{
    margin-top: 10px;
}

section.jumbotron .lead .arbor-copy{
    font-size: 14px;
    line-height: 21px;
}

section.jumbotron .lead .arrow-down{
    font-size: 40px;
    color: black;
    display: block;
    margin-top: 50px;
}

section.jumbotron .img-jumb{
    width: 67%;
    position: relative;
    margin-left: 2%;
}

section.jumbotron .img-jumb img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* main */

#price-plan{
    width: 100%;
    padding-top: 190px;
}

#price-plan .radio-content .item{
    display: inline-block;
    margin-right: 20px;
}

#find-partner{
    margin: 120px 0;
}

#find-partner .content-text{
    width: calc(100% - 586px);
    padding: 100px 40px 100px 80px;
}

#find-partner .content-text p{
    line-height: 26px;
    margin: 20px 0 30px;
}

#operations .content{
    margin-bottom: 100px;
}

#operations .content .col-3:nth-of-type(2){
    margin: 0 5%;
}

#operations .content img{
    width: 100%;
}

#operations .content .content-text .title-h4{
    margin: 30px 0 20px;
}

#partner-logos .container-section{
    margin-bottom: 60px;
}

#partner-logos .title-h2{
    width: 60%;
    margin-bottom: 20px;
}

#partner-logos .row .col-sx,
#partner-logos .row .col-dx{
    width: 30%;
    height: 100%;
}

#partner-logos .row .col-center{
    width: 40%;
    height: 30vw;
}

#partner-logos .col{
    width: 15vw;
    height: 15vw;
    position: relative;
}

#partner-logos .logo-partner{
    width: 70%;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#partner-logos .col-sx .col:first-child{
    border: 10px solid #d0e9cd;
}

#partner-logos .green-lite{
    background-color: #a2d39b;
}

#partner-logos .bordeaux{
    background-color: #61082b;
}

#partner-logos .lite-blue{
    background-color: #0093ce;
}

#partner-logos .red{
    background-color: #ff1c1c;
}

#partner-logos .col-center{
    background-color: #f5f5f5;
    overflow: auto;
}

#partner-logos .col-center figure{
    margin: 50px;
}

#partner-logos .col-center figure img{
    width: 60%;
}

#partner-logos .col-center img{
    max-width: 150px;
    margin-bottom: 30px;
}

#partner-logos .col-center hr{
    width: 40px;
    border: none;
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

#partner-logos .col-center p{
    margin: 35px 0 30px;
}

#partner-logos .box{
    background-color: #b4d0e7;
    width: 100%;
    padding: 120px 0;
}

#partner-logos .box .title-h2{
    color: #61082b;
    margin-bottom: 0;
}

#partner-logos .box .container-section{
    position: relative;
    margin-bottom: 0;
}

#partner-logos .box a{
    position: absolute;
    right: 0;
    top: 0;
}

#faq{
    margin: 120px 0;
}

#faq .title-h3{
    display: inline-block;
    margin-bottom: 30px;
}

#faq ul{
    border-top: 1px solid black;
}

#faq li{
    border-bottom: 1px solid black;
    padding: 20px 0;
}

#faq li .question h3{
    width: 60%;
    display: inline-block;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
}

#faq li .question .arrow-position{
    display: inline-block;
    width: 35%;
    text-align: right;
}

#faq li:hover .question .ico-arrow{
    transform: rotate(135deg);
}


#faq li .answer{
    width: 70%;
}

#faq li .answer p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#faq li .answer{
    display: none;
}

#faq li:hover .answer{
    display: block;
}

/* footer */
footer{
    width: 100%;
    background-color: #000;
    padding: 150px 0;
}

footer h4{
    color: white;
    margin-bottom: 20px;
}

footer li{
    margin-bottom: 15px;
}

footer li:hover{
    text-decoration: underline;
    color: white;
}

footer li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 13px;
}

footer hr{
    width: 50px;
    border: none;
    border-bottom: 1px solid white;
    margin: 60px 0 30px;
}

footer .footer-bottom{
    margin-bottom: 30px;
}

footer .footer-bottom .language{
    display: inline-block;
    border: 1px dotted rgb(102, 102, 102);
}

footer .footer-bottom .ico-world{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/icone.png);
    background-position: left -7435px;
    background-size: auto 10500px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

footer .footer-bottom .name-language{
    color: rgb(102, 102, 102);
    margin: 0 8px;
}






/* debug */
.debug header {
    background-color: green;
}

/*
.debug .row{
    background-color: red;
}
*/

.debug .col-1{
    background-color: blue;
    height: 100%;
}

.debug .col-2{
    background-color:gold;
    height: 100%;
}

.debug .col-3{
    background-color: coral;
    height: 100%;
}

.debug .col-7{
    background-color: mediumslateblue;
    height: 100%;
}

.debug section.jumbotron .row{
    background-color: khaki;
}

.debug section.jumbotron .content-title{
    background-color:darkolivegreen;
}

.debug section.jumbotron .lead{
    background-color: grey;
}

.debug .img-jumb{
    background-color: pink;
}

.debug section.jumbotron .items{
    background-color: mediumseagreen;
}

.debug main{
    background-color: darkslategray;
}

.debug #price-plan{
    background-color: palegreen;
}

.debug #price-plan .row{
    background-color: red;
}

.debug .grid-contain{
    background-color: coral;
}

.debug .grid-contain .col-3{
    background-color: darkgreen;
}

.debug .col{
    background-color: darkgreen;
}

.debug .row-grid-price{
    background-color:lightblue;
}

.debug .row-grid-price .grid-contain .content{
    background-color:yellow;
}

.debug #find-partner .row{
    background-color: crimson;
}

.debug #find-partner .content-img{
    background-color: green;
}

.debug #find-partner .content-text{
    background-color: blue;
}

.debug #operations .row{
    background-color:yellow;
}

.debug #operations .row .content{
    background-color:red;
}

.debug #partner-logos .row{
    background-color: red;
    height: 100%;
}

.debug #partner-logos .col-sx,
.debug #partner-logos .col-dx{
    background-color: blue;
    height: 100%;
}

.debug #partner-logos .col-center{
    background-color: green;
    height: 100%;
}

.debug #partner-logos .col-sx .col-1{
    background-color: blueviolet;
    height: 50%;
    width: 50%;
}

.debug #partner-logos .col-sx .col-2{
    background-color: orange;
    height: 50%;
    width: 50%;
}

.debug #partner-logos .col-sx .col-3{
    background-color: #61082b;
    height: 50%;
    width: 50%;
}

.debug #partner-logos .col-sx .col-4{
    background-color: skyblue;
    height: 50%;
    width: 50%;
}

.debug #faq .row{
    background-color: red;
}

.debug footer .footer-top{
    background-color: green;
}

.debug footer .footer-top .col-2{
    background-color: pink;
}